@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Ubuntu Mono", monospace;
}
header {
  position: fixed;
  width: 100%;
  height: 80px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  z-index: 1000;
}
header .logo {
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 700;
}
header ul {
  position: relative;
  display: flex;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  padding: 5px 10px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
header ul li a:hover,
header ul li a.nav__listItem--active {
  background: #5e9fa3;
}
.nav__toggle {
  display: none;
}
section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  min-height: 100vh;
  padding: 150px 100px 100px;
}
section .content {
  position: relative;
  width: 100%; /* check how flex work with images */
}

section#home,
section#about {
  justify-content: space-between;
}
section#home .content {
  width: 50%;
}
section .imgBx {
  /* check how configure images with display:flex  */
  position: relative;
  display: block;
  width: 300px;
  height: 400px;
  margin-left: 30px;
  background: #000;
}
section .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section .content h2 {
  font-size: 2.5em;
  text-transform: uppercase;
}
section .content p {
  font-size: 18px;
}
section .content a.content__btn {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 10px;
  background: #111;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}
section:nth-child(odd) {
  position: relative;
  justify-content: center;
  align-items: center;
  background: #111;
  color: #fff;
}
section:nth-child(odd) .content a.content__btn {
  background: #fff;
  color: #111;
}
@media (max-width: 992px) {
  section {
    padding: 100px 50px 50px;
    flex-direction: column;
  }
  section#home,
  section#about {
    justify-content: space-around;
    align-items: center;
  }
  section#home .content,
  section#home .imgBx,
  section#about .imgBx {
    width: 100%;
    margin: 0;
  }

  header ul {
    position: absolute;
    /* display: none; */
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
    padding: 50px 100px;
    opacity: 0;

    text-align: center;
    transition: 0.5s;
    overflow: auto;
    background: #111;
    flex-direction: column;
    transform: translateY(-100%);
  }
  header ul li a {
    font-size: 24px;
    margin: 5px 0;
  }

  .nav__toggle {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .nav__toggle:before {
    content: "";
    position: absolute;
    top: 4px;
    width: 100%;
    height: 2px;
    background: #fff;
    z-index: 1;
    box-shadow: 0 10px 0 #fff;
    transition: 0.5s;
  }
  .nav__toggle:after {
    content: "";
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 2px;
    background: #fff;
    z-index: 1;
    transition: 0.5s;
  }
  header.active .nav__toggle:before {
    top: 14px;
    transform: rotate(45deg);
    box-shadow: 0 0 0 #ffffff00;
    transition: 0.5s;
  }
  header.active .nav__toggle:after {
    bottom: 14px;
    transform: rotate(-45deg);
    transition: 0.5s;
  }
  header.active ul {
    opacity: 1;
    transform: translateY(0);
  }
}
