@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}
.banner {
  position: relative;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #3475ca;
}
.banner img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  object-fit: cover;
}
.banner .content-box {
  position: relative;
  max-width: 750px;
  text-align: center;
}
.banner .content-box h2 {
  font-size: 60px;
  color: #fff;
}
.banner .content-box p {
  font-size: 18px;
  color: #fff;
}
.banner header {
  position: absolute;
  left: 0;
  top: 0;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1000;
}
.banner header .logo {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.banner header .toggle {
  position: relative;
  width: 36px;
  height: 28px;
  background-image: url(assets/toggle.png);
  background-size: cover;
  cursor: pointer;
}
.about {
  position: relative;
  width: 100%;
  display: flex;
}
.about .content-box {
  background: #162c5b;
  padding: 100px;
  width: 50%;
}
.title {
  margin-bottom: 10px;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
}
.text {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
}
.about .image-box {
  background: url(assets/window.jpg);
  width: 50%;
  background-size: cover;
  background-position: center;
}
.services {
  background: #12222f;
  padding: 100px;
  text-align: center;
}
.services .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
}
.services .container .service-box {
  position: relative;
  width: 350px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.services .container .service-box img {
  width: 100px;
}
.services .container .service-box h2 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}
.technology {
  width: 100%;
  padding: 100px;
  padding-top: 300px;
  margin-top: -300px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3f8ffc;
}
.technology .content-box {
  max-width: 800px;
}
.technology .image-box {
  max-width: 250px;
}
.technology .image-box img {
  width: 100%;
}
.client {
  background: #162c3b;
  padding: 100px;
  text-align: center;
}
.client .image-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.client .image-box img {
  max-width: 200px;
  margin: 20px;
  opacity: 0.25;
  cursor: pointer;
}
.client .image-box img:hover {
  opacity: 1;
}

.testimonials {
  position: relative;
  padding: 100px;
  background: #12222f;
  text-align: center;
}
.testimonials .container {
  margin: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center; /* */
  flex-wrap: wrap;
}
.testimonials .container .content-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 30px 50px;
  /* margin-bottom: 30px; */
  width: 450px;

  background: #fff;
  text-align: left;
}
.testimonials .container .content-box .quote-text {
  font-style: italic;
  color: #12222f;
  margin-bottom: 30px;
}
.testimonials .container .content-box .author-quote {
  width: 100%;
  margin-top: 30px;
  text-align: end;
  font-weight: 500;
  color: #3f8ffc;
}
.contact {
  padding: 100px;
  background: #162c5b;
  text-align: center;
}
.contact-form {
  position: relative;
  width: 100%;
  display: flex;
}
.contact-form .content-box {
  background: #162c5b;
  padding: 100px;
  width: 50%;
}
.title {
  margin-bottom: 10px;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
}
.text {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
}
.contact-form .image-box {
  background: url(assets/bg2.jpg);
  width: 50%;
  background-size: cover;
  background-position: center;
}
.contact-form .content-box.redbg {
  background: url(assets/red.jpg);
  background-size: cover;
  background-position: cover;
}
.form .input-box {
  margin-bottom: 40px;
}
.form .input-box input,
.form .input-box textarea {
  width: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  resize: none;
  color: #fff;
  border-bottom: 2px solid #fff;
}
.form .input-box input::placeholder,
.form .input-box textarea::placeholder {
  color: #fff;
}
.form .input-box input[type="submit"] {
  width: 150px;
  background: #fff;
  color: #111;
  cursor: pointer;
  font-weight: 500;
}
.footer {
  position: relative;
  background: #162c3b;
  display: flex;
  padding: 20px 100px;
  justify-content: space-between;
  align-items: center;
}
.footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer ul li {
  list-style: none;
}
.footer ul li a {
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
}
.footer ul li a img {
  filter: invert(1);
  max-width: 20px;
}
